main{
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-areas: 
    "status status"
    "menu view"
    "footer footer";
}

header{
    grid-area: status;
    background-color: lightblue;
}
footer{
    grid-area: footer;
    background-color: lightcoral;
}

nav{
    grid-area: menu;
    background-color: lightskyblue;
}

a-neweventview{
    grid-area: view;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a-newevent form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

a-events-overview{
    width: 80%;
    padding-top: 10%;
}